<div class="menu">
  <!-- <i class="fa fa-arrow-left" style="left: 9px;
    top: 26px; position:absolute;" routerLink="/sidenav"></i> -->
  <i class="fa fa-arrow-left" style="left: 22px;
    top: 25px; position:absolute; font-size: 15px; color: #222222;" routerLink="/sidenav"></i>
  <h3 style="font-family: poppins;left: 50px;
top: 8px; position: absolute;">Main Menu</h3>
</div>
<!-- <hr style=" border: 1px solid #AEAEAE; left: 0px ;width: 420px;
  height: 0px;
  top: 50px; position: absolute;"> -->
<!-- <div class="customize-your-view">
  <h1 style=" font-size: 18px; font-weight: 800; font-family: poppins;left: 34px;
    top: 70px; position: absolute;">Customize Your View</h1>
  <div class="points" style="padding-left:15px ; font-family: poppins; ">
    <div class="points">
      <label style="display: flex; justify-content:space-between;">
        <span class="en" style="font-size: 12px; font-weight: 600;left: 34px;
          top: 105px;position: absolute; ">Show Sponsored
          Products</span>
        <label class="switch" style="left: 330px;
          top: 95px; position:absolute"> <input type="checkbox"> <span class="slider blue" id="round"></span></label>
      </label>
      <label style="display: flex; justify-content:space-between;">
        <span class="en" style="font-size:12px ; font-weight: 600; left: 34px;
          top: 135px; position: absolute;">Show Product Information
          On Amazon Page</span>
        <label class="switch" style="left: 330px;
          top: 130px;
          position:absolute"> <input type="checkbox"> <span class="slider blue" id="round"></span></label>
      </label>
      <label style="display: flex; justify-content:space-between;">
        <span class="en" style="font-size:12px ; font-weight: 600;left: 34px;
          top: 168px; position: absolute;">Show Product Information on product detail
          page</span>
        <label class="switch" style="left: 330px;
          top: 160px;
          position:absolute;color: #0076FF;"> <input type="checkbox"> <span class="slider blue"
            id="round"></span></label>
      </label>
    </div>
  </div>
</div> -->
<div class="customize-your-view">
  <h1 style=" font-size: 17px;
  font-weight: 700;
  font-family: poppins;
  left: 25px;
  top: 65px;
  position: absolute;
  opacity: 0.9;">Customize Your View</h1>
  <div class="points" style="padding-left:15px ; font-family: poppins; ">
    <div class="points">
      <label style="display: flex; justify-content:space-between;">
        <span class="en" style="font-size: 12px;
              font-weight: 600;
              left: 28px;
              top: 101px;
              position: absolute;
              opacity: 0.8; ">Show Sponsored
          Products</span>
        <label class="switch" style="left: 330px;
          top: 95px; position:absolute"> <input type="checkbox"> <span class="slider blue" id="round"></span></label>
      </label>
      <label style="display: flex; justify-content:space-between;">
        <span class="en" style="font-size: 12px;
              font-weight: 600;
              left: 28px;
              top: 132px;
              position: absolute;
              opacity: 0.8;">Show Product Information
          On Amazon Page</span>
        <label class="switch" style="left: 330px;
          top: 126px;
          position:absolute"> <input type="checkbox"> <span class="slider blue" id="round"></span></label>
      </label>
      <label style="display: flex; justify-content:space-between;">
        <span class="en" style="font-size: 12px;
              font-weight: 600;
              left: 28px;
              top: 162px;
              position: absolute;
              opacity: 0.8;">Show Product Information on product detail
          page</span>
        <label class="switch" style="left: 330px;
          top: 157px;
          position:absolute;color: #0076FF;"> <input type="checkbox"> <span class="slider blue"
            id="round"></span></label>
      </label>
    </div>
  </div>
</div>
<!-- <div class="add-remove">
  <h1 style=" font-size: 18px; font-weight: 800;  font-family: poppins;left: 24px;
    top: 205px; position: absolute;">Add/
    Remove Data Points
  </h1>
  <table style=" width: 100%;    
  ">
    <tr style="background-color:lightgray ; padding: 4px; left: 14px;
      top: 240px; position: absolute; font-size: 12px;">
      <th style=" font-family: poppins; ">Data Points</th>
      <th style="font-family: poppins; padding-left: 64px; ">Extension</th>
      <th style="font-family: poppins; padding-left: 90px;">Amazon Page</th>
    </tr>

    <tr style="left: 10px;
      top: 272px; position:absolute; ">
      <td style="font-size:12px ;"> Brand</td>
      <td style="padding-left:126px ;"><i class="fa-solid fa-circle-check"></i></td>
      <td style="padding-left:144px ;"><i class="fa-solid fa-circle-check"></i></td>
    </tr>
    <tr style="left: 10px;
      top: 300px; position:absolute">
      <td style="font-size:12px ;"> Price</td>
      <td style="padding-left:134px ;"><i class="fa-solid fa-circle-check"></i></td>
      <td style="padding-left:144px ;"><i class="fa-solid fa-circle-check"></i></td>
    </tr>
    <tr style="left: 10px;
      top: 330px;
       position:absolute">
      <td style="font-size: 12px;"> Monthly Estimated Sales</td>
      <td style="padding-left:18px ;"><i class="fa-solid fa-circle-check"></i></td>
      <td style="padding-left:146px ;"><i class="fa-solid fa-circle-check"></i></td>
    </tr>
    <tr style="left: 10px;
      top: 360px; position:absolute">
      <td style="font-size: 12px;">Daily Estimated Sales</td>
      <td style="padding-left:36px ;"><i class="fa-solid fa-circle-check"></i></td>
      <td style="padding-left:146px ;"><i class="fa-solid fa-circle-check"></i></td>
    </tr>
    <tr style="left: 10px;
      top: 390px; position:absolute">
      <td style="font-size: 12px;">Estimated Revenue</td>
      <td style="padding-left:48px ;"><i class="fa-solid fa-circle-check"></i></td>
      <td style="padding-left:146px ;"><i class="fa-solid fa-circle-check"></i></td>
    </tr>
    <tr style="left: 10px;
      top: 420px; position:absolute">
      <td style="font-size: 12px;">Date First Available</td>
      <td style="padding-left: 48px;"><i class="fa-solid fa-circle-check"></i></td>
      <td style="padding-left: 146px;"><i class="fa-solid fa-circle-check"></i></td>
    </tr>
    <tr style="left: 10px;
      top: 450px; position:absolute">
      <td style="font-size: 12px;">Net and Profit Calculator</td>
      <td style="padding-left:18px ;"><i class="fa-solid fa-circle-check"></i></td>
      <td style="padding-left: 144px;"><i class="fa-solid fa-circle-check"></i></td>
    </tr>
    <tr style="left: 10px;
      top: 480px; position:absolute">
      <td style="font-size: 12px;">Rating Number</td>
      <td style="padding-left: 75px;"><i class="fa-solid fa-circle-check"></i></td>
      <td style="padding-left: 144px;"><i class="fa-solid fa-circle-check"></i></td>
    </tr>
    <tr style="left: 10px;
      top: 510px; position: absolute;">
      <td style="font-size: 12px;">Rating</td>
      <td style="padding-left:126px ;"><i class="fa-solid fa-circle-check"></i></td>
      <td style="padding-left: 144px;"><i class="fa-solid fa-circle-check"></i></td>
    </tr>
    <tr style="left: 10px;
      top: 540px; position:absolute">
      <td style="font-size: 12px;">Fees</td>
      <td style="padding-left: 137px;"><i class="fa-solid fa-circle-check"></i></td>
      <td style="padding-left: 144px;"><i class="fa-solid fa-circle-check"></i></td>
    </tr>
    <tr style="left: 10px;
      top: 570px; position:absolute">
      <td style="font-size: 12px;">Rank</td>
      <td style="padding-left: 137px;"><i class="fa-solid fa-circle-check"></i></td>
      <td style="padding-left: 144px;"><i class="fa-solid fa-circle-check"></i></td>
    </tr>

  </table>
</div> -->
<div class="add-remove">
  <h1 style=" font-size: 17px;
  font-weight: 700;
  font-family: poppins;
  left: 12px;
  top: 205px;
  position: absolute;
  opacity: 0.9;">Add/
    Remove Data Points
  </h1>
  <table style=" width: 100%;    
  ">
    <tr style="background-color: lightgray;
      padding: 5px;
      left: 9px;
      top: 236px;
      position: absolute;
      font-size: 12px;
      font-weight: 600;
      opacity: 0.9;">
      <th style=" font-family: poppins; ">Data Points</th>
      <th style="font-family: poppins; padding-left: 75px; ">Extension</th>
      <th style="font-family: poppins; padding-left: 90px;">Amazon Page</th>
    </tr>

    <tr style="left: 10px;
      top: 272px; position:absolute; ">
      <td style="font-size:12px ; font-weight: 600; opacity: 0.8;"> Brand</td>
      <td style="padding-left:126px ;"><i class="fa-solid fa-circle-check" style="margin: 0px 6px;"></i></td>
      <td style="padding-left:144px ;"><i class="fa-solid fa-circle-check" style="margin-left: 9px;"></i></td>
    </tr>
    <tr style="left: 10px;
      top: 300px; position:absolute">
      <td style="font-size:12px ;font-weight: 600; opacity: 0.8;"> Price</td>
      <td style="padding-left:134px ;"><i class="fa-solid fa-circle-check" style="margin: 0px 6px;"></i></td>
      <td style="padding-left:144px ;"><i class="fa-solid fa-circle-check" style="margin-left: 8px;"></i></td>
    </tr>
    <tr style="left: 10px;
      top: 330px;
       position:absolute">
      <td style="font-size: 12px;font-weight: 600; opacity: 0.8;"> Monthly Estimated Sales</td>
      <td style="padding-left:18px ;"><i class="fa-solid fa-circle-check" style="margin: 0px 0px;"></i></td>
      <td style="padding-left:146px ;"><i class="fa-solid fa-circle-check" style="margin-left: 10px;"></i></td>
    </tr>
    <tr style="left: 10px;
      top: 360px; position:absolute">
      <td style="font-size: 12px;font-weight: 600; opacity: 0.8;">Daily Estimated Sales</td>
      <td style="padding-left:36px ;"><i class="fa-solid fa-circle-check"></i></td>
      <td style="padding-left:146px ;"><i class="fa-solid fa-circle-check" style="margin-left: 11px;"></i></td>
    </tr>
    <tr style="left: 10px;
      top: 390px; position:absolute">
      <td style="font-size: 12px;font-weight: 600; opacity: 0.8;">Estimated Revenue</td>
      <td style="padding-left:48px ;"><i class="fa-solid fa-circle-check"></i></td>
      <td style="padding-left:146px ;"><i class="fa-solid fa-circle-check" style="margin-left: 12px;"></i></td>
    </tr>
    <tr style="left: 10px;
      top: 420px; position:absolute">
      <td style="font-size: 12px;font-weight: 600; opacity: 0.8;">Date First Available</td>
      <td style="padding-left: 48px;"><i class="fa-solid fa-circle-check"></i></td>
      <td style="padding-left: 146px;"><i class="fa-solid fa-circle-check" style="margin-left: 11px;"></i></td>
    </tr>
    <tr style="left: 10px;
      top: 450px; position:absolute">
      <td style="font-size: 12px;font-weight: 600; opacity: 0.8;">Net and Profit Calculator</td>
      <td style="padding-left:18px ;"><i class="fa-solid fa-circle-check" style="margin: 0px -3px;"></i></td>
      <td style="padding-left: 144px;"><i class="fa-solid fa-circle-check" style="margin-left: 13px;"></i></td>
    </tr>
    <tr style="left: 10px;
      top: 480px; position:absolute">
      <td style="font-size: 12px;font-weight: 600; opacity: 0.8;">Rating Number</td>
      <td style="padding-left: 75px;"><i class="fa-solid fa-circle-check"></i></td>
      <td style="padding-left: 144px;"><i class="fa-solid fa-circle-check" style="margin-left: 11px;"></i></td>
    </tr>
    <tr style="left: 10px;
      top: 510px; position: absolute;">
      <td style="font-size: 12px;font-weight: 600; opacity: 0.8;">Rating</td>
      <td style="padding-left:126px ;"><i class="fa-solid fa-circle-check" style="margin: 0px 4px;"></i></td>
      <td style="padding-left: 144px;"><i class="fa-solid fa-circle-check" style="margin-left: 6px;"></i></td>
    </tr>
    <tr style="left: 10px;
      top: 540px; position:absolute">
      <td style="font-size: 12px;font-weight: 600; opacity: 0.8;">Fees</td>
      <td style="padding-left: 137px;"><i class="fa-solid fa-circle-check" style="margin: 0px 6px;"></i></td>
      <td style="padding-left: 144px;"><i class="fa-solid fa-circle-check" style="margin-left: 3px;"></i></td>
    </tr>
    <tr style="left: 10px;
      top: 570px; position:absolute">
      <td style="font-size: 12px;font-weight: 600; opacity: 0.8;">Rank</td>
      <td style="padding-left: 137px;"><i class="fa-solid fa-circle-check" style="margin: 0px 2px;"></i></td>
      <td style="padding-left: 144px;"><i class="fa-solid fa-circle-check" style="margin-left: 8px;"></i></td>
    </tr>

  </table>
</div>
<!-- <div class="button-col">

  <button class="btn btn-primary" style="
    color: black;background: #FFFFFF;
border: 1px solid #222222;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;left: 38px;
top: 610px; position: absolute;
      ">Reset</button>


  <button class="btn btn-primary" style="
    color: white; float: right; background: #0076FF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;left: 217px;
top: 610px; position: absolute; ">Apply</button>


</div> -->
<div class="button-col">

  <button class="reset" style="
  color: black;background: #FFFFFF;
border: 1px solid #222222;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;left: 38px;
top: 615px; position: absolute; height: 40px; width: 100px;
    ">Reset</button>


  <button class="apply" style="
  color: white; float: right; background: #0076FF;
border-color:#0076FF ;  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;left: 217px; 
top: 615px; position: absolute; height: 40px; width: 100px; ">Apply</button>


</div>