<div class="menu">
  <i class="fa fa-arrow-left" style="left: 22px;
  top: 25px; position:absolute; font-size: 15px; color: #222222;" routerLink="/sidenav"></i>
  <h3 style="font-family: poppins;left: 50px;
top: 8px; position: absolute;">Main Menu</h3>

</div>

<h1
  style="padding-left: 15px; font-size: 18px; font-weight: 600; left: 34px; top: 80px; position: absolute; font-family: poppins;">
  Help</h1>
<!-- <ul style="list-style:none ;">
  <li style="height: 32px ;"><a href="#"><span class="icon"><img src="assets/help.png" style="height: 26px; width:26px; left: 58px;
      top: 134px;
            position: absolute;"> </span>
      <span class=" item" style="font-size:15px ;left: 91px;
        top: 135px; position: absolute; font-family: poppins; ;
        ">Help Center</span><i class="fa fa-arrow-right" aria-hidden="true" style="left: 380px;
top: 137px; position: absolute;"></i></a></li>
  <li style="height: 32px;"><a href="#"><span class="icon"><img src="assets/contact.png" style="width: 25px; height:25px;left: 58px;
            top: 167px; position: absolute;"></span><span class="item" style="font-size:15px ;left: 91px;
            top: 170px; position: absolute; font-family: poppins;">Contact
        Support</span><i class="fa fa-arrow-right" aria-hidden="true" style="left: 380px;
          top: 170px; position: absolute;"></i></a></li> 

</ul>-->
<ul style="list-style:none ;">
  <li style="height: 32px ;"><a href="#"><span class="icon"><img src="assets/help.png" style="height: 26px; width:26px; left: 58px;
    top: 124px;
          position: absolute;"> </span>
      <span class=" item" style="font-size:15px ;left: 91px;
      top: 125px; position: absolute; font-family: poppins; 
      ">Help Center</span>
      <!--<i class="fa fa-arrow-right" aria-hidden="true" style="left: 370px;
top: 137px; position: absolute; font-size:18px ; font-weight: 100px;color: #003167;"></i>-->
      <i class='fas fa-arrow-right' style="font-size:18px; left: 370px;
            top: 125px; position: absolute;color: #003167"></i>
    </a></li>
  <li style="height: 32px;"><a href="#"><span class="icon"><img src="assets/contact.png" style="width: 25px; height:25px;left: 58px;
          top: 157px; position: absolute;"></span><span class="item" style="font-size:15px ;left: 91px;
          top: 160px; position: absolute; font-family: poppins;">Contact
        Support</span>
      <!--<i class="fa fa-arrow-right" aria-hidden="true" style="left: 370px;
        top: 160px; position: absolute; font-size:18px ; color:#003167 ;"></i>--><i class='fas fa-arrow-right' style="font-size:18px; left: 370px;
            top: 155px; position: absolute;color: #003167"></i>
    </a></li>

</ul>