<div class="menu">
  <i class="fa fa-arrow-left" style="left: 22px;
  top: 25px; position:absolute; font-size: 15px; color: #222222;" routerLink="/sidenav"></i>
  <h3 style="font-family: poppins;left: 50px;
top: 8px; position: absolute;">Main Menu</h3>


</div>


<div class="profile">
  <h1 style="font-size: 19px;
          font-weight: 700;
          left: 26px;
          top: 65px;
          position: absolute;
          font-family: poppins;
          opacity: 0.9;"> Account Settings</h1>
</div>
<div class=profile-img>
  <img src="assets/dp.png" style=" width: 50px;
          height: 50px;
          position: absolute;
          left: 21px;
      top: 102px;
      
         ">
  <div class="profile-id">
    <p style="font-size: 18px ; font-weight: 500; left: 76px;
            top: 105px; position: absolute; font-family: poppins;">Surya</p>
    <p style="left: 77px;
              font-size: 13px;
              top: 128px;
              position: absolute;
              font-family: poppins;
              opacity: 0.8;">surya@gmail.com</p>
  </div>
</div>
<div class="wrapper">
  <h1 style="left: 28px;
          top: 170px;
          position:absolute; font-family: poppins; font-size: 14px;">Language</h1>
  <div class="select-btn">
    <select name="" id="" style="width: 25rem;
      border: none; opacity: 0.8;
      background-color: white;">
      <option value="" style="font-family: poppins; font-size: 14px;
        font-weight: 500;">English</option>
      <option value="" style="font-family: poppins; font-size: 14px;
        font-weight: 500;">Hindi</option>
      <!-- <img src="/login/img/drop.png" style="width: 11px;"> -->
    </select>
  </div>
</div>
<div class="subscription">
  <p style="font-size: 17px ; font-weight: 400;left: 28px;
          top: 247px; position: absolute; font-family: poppins;">Current Subscriptions </p>
  <p style="font-size: 12px;
          left: 29px;
          top: 271px;
          position: absolute;
          font-family: poppins;
          opacity: 0.8;">Uneekli pro Crome Extension</p>
</div>


<hr style="position: absolute;
                  width: 438px;
                  height: 0px;
                  left: 0px;
                  top: 275px;
                  
                  border: 1px solid #AEAEAE;">
<div class="edit">

  <h3 style="font-size: 19px;
          left: 27px;
          top: 303px;
          position: absolute;
          font-family: poppins;
          opacity: 0.9;">Edit</h3>
  <div class="arrow">
    <i class="fa fa-arrow-right" aria-hidden="true" style="left: 385px;
              top: 310px;
              position: absolute;
              font-size: 15px;
              opacity: 0.8;"></i>
  </div>
</div>
<div class="edit">
  <div class="editing" style="display: flex;">
    <img src="assets/server.png" style="left: 26px;
              top: 345px;
              position: absolute;
              width: 21px;
              height: 21px;">
    <p style="font-size: 17px ; left: 60px;
            top: 342px; position: absolute; font-family: poppins;"> Suggested Server In China</p>
  </div>
  <div class="para" style="left: 29px;
          top: 375px; position: absolute; font-size:14px;font-family: poppins;">
    <p style="margin-top: 0;
              margin-bottom: 1rem;
              font-size: 13px;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur
      explicabo aut iste
      obcaecati autem in
      ducimus repellat ab nulla reprehenderit, ratione nobis magni laboriosam fuga rem numquam
      architecto est
      iusto.
    </p>
  </div>
  <br>
  <div class="editing" style="display: flex;">
    <img src="assets/connection.png" style="width: 23px;
              height: 23px;
              left: 25px;
              top: 490px;
              position: absolute;">
    <p style="font-size: 17px ; left: 60px;
            top: 490px; position: absolute; font-family: poppins;"> Slow Connection Mode</p>
  </div>

  <div class="para" style=" left: 29px;
          top: 520px;font-size:14px; position:absolute; font-family: poppins;">
    <p style="margin-top: 0;
              margin-bottom: 1rem;
              font-size: 13px;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur
      explicabo aut iste
      obcaecati autem in
      ducimus repellat ab nulla reprehenderit, ratione nobis magni laboriosam fuga rem numquam
      architecto est
      iusto.
    </p>
  </div>
</div>